/*
 * @Author: MoCheng
 */
.evaluate-box{
    width: 100%;
	.evaluate_header{
	    width: 90%;
    	margin: auto;
		i{
	        font-size: 24px;
			margin-right: 10px;
		    color: #8dc719;
		}
		.title{
			display: inline-block;
    		font-size: 16px;
		}
	}
	.evaluate_body{
		.evaluate_li_header{
			margin-top: -15px;
		}
		.evaluate_li{
		    margin: 15px 0;
		    .left_title{
			    display: inline-block;
			    font-size: 18px;
			    font-weight: bold;
			}
			.left_time{
				position: absolute;
				right: 0px;
			    line-height: 25px;
	    		color: #ccc;
			}
		    .ant-time-picker-large{
				margin-left: 35px;
    			margin-right: 10px;
		    }
	    	.time_header{
    		    position: absolute;
			    top: 0;
			    left: 0;
	    	}
	    	.time_footer{}
		    .ant-rate {
			    font-size: 18px;
			    margin-top: -10px;
			}
			.star_info{
	    	    color: #ccc;
				margin-left: 10px;
		    }
		    .foods_style{
		    	display:inline-block;
		    	margin-left: -10px;
		    	.foods_menu{
	    		    line-height: 24px;
    				cursor: inherit;
			        margin-left: 10px;
    				margin-bottom: 15px;
				    border-radius: 20px;
    				.btn_text{
					    width: 55px;
					    float: left;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    white-space: nowrap;
    				}
		    		.fa{
						cursor: pointer;
				        font-size: 18px;
		    		}
		    		.fa-thumbs-o-up{
	    			    margin-right: 15px;
		    		}
		    		.fa-thumbs-o-up:hover{
					   color:#8dc719;
		    		}
		    		.fa-thumbs-o-down:hover{
	    				color:red;
		    		}
		    	}
		    	.foods_menu_active_up{
    				border-color: #fa9700;
    				color: #fa9700;
		    		.fa-thumbs-o-up{
					   color:#8dc719;
		    		}
		    		.fa-thumbs-o-down{
	    				color:#ccc;
		    		}
		    	}
		    	.foods_menu_active_down{
    				border-color: #fa9700;
    				color: #fa9700;
		    		.fa-thumbs-o-down{
	    				color:red;
		    		}
		    		.fa-thumbs-o-up{
					   color:#ccc;
		    		}
		    	}
		    }
			.line{
			    margin: 25px 0;
				.line_left{
				    text-align: right;
				    padding-right: 15px;
				    font-weight: bold;
				}
				.line_right{

				}
			}
		}
		.evaluate_btn{
			.sign_btn{
			    margin-right: 20px;
			}
		}
	}
}
.ant-time-picker-panel{
	width:100%;
}