/*
* @Author: pengzhen
* @Date:   2016-10-17 20:37:32
* @Last Modified by:   pengzhen
* @Last Modified time: 2016-10-18 09:52:23
*/
@import url('./theme.less');
@import url('./icon.less');

*, :after, :before{
    box-sizing: border-box;
}
body{
    color: @font-color;
    background: @body-background;
    font-family: @font-family;
    font-size: 12px;
}
