@import url('../../../styles/theme.less');

@header-height: 80px;
.header{
    line-height: @header-height;
    height: @header-height;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    .header-content{
        width: @max-width;
        margin: auto;
    }
}
