.loading-body{
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;

    .ant-spin{
        height: 35%;

        .ant-spin-dot{
            &:before{
                background-color: #ffd705;
            }
            &:after{
                background-color: #ffd705;
            }
        }
        .ant-spin-text{
                margin-top: 10px;
                font-size: 14px;
                color: #fa9700;
        }
    }
}
