.accountlist{
	ul{
		
		li{
			float: left;
			width: 374px;
		    height: 152px;
		    background-color: #ffffff;
		    border: 1px solid #ebebeb;
		}
	}

	.account{
		.image{
			width: 118px;
    		height: 88px;

    		img{
    			border: 1px solid #ebebeb;
    			width: 100%;

    		}
		}
	}
}
